# dataypes in python
# type conversion

In [16]:
salary = input("salary is: ")
saving = salary - 4000
print(saving)

salary is: 7000

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [17]:
salary = int(input("salary is: "))
saving = salary - 4000
print(saving)
print(type(salary))
print(type(saving))

salary is: 10000
6000
<class 'int'>
<class 'int'>

In [10]:
salary = int(input("salary is: "))
expendature = int(input("expendature is: "))
savings = salary - expendature
print("Saving is " ,savings)

salary is: 15000
expendature is: 6000
Saving is  9000

In [13]:
salary = int(input("salary is: "))
expendature = int(input("expendature is: "))
savings = salary - expendature
print("Saving is " + savings)     # contatanation can't be of different datatypes

salary is: 7000
expendature is: 3000

TypeError: can only concatenate str (not "int") to str

In [14]:
salary = int(input("salary is: "))
expendature = int(input("expendature is: "))
savings = salary - expendature
print("Saving is " + str(savings))     # here change the datatype to make same datatype for concatanation

salary is: 7000
expendature is: 3000
Saving is 4000

In [18]:
salary = input("salary is: ")
expendature = input("expendature is: ")
savings = int(salary) - int(expendature)
print("Saving is " + str(savings)) 
print(type(salary))
print(type(expendature))
print(type(saving))

salary is: 9000
expendature is: 2600
Saving is 6400
<class 'str'>
<class 'str'>
<class 'int'>

To convert height of user fron inch to centimeters

In [23]:
height_in = input("height in inches: ")
print(height_in + ' inches')

height in inches: 71
71 inches

In [25]:
height_in = input("height in inches: ")
height_cm =int(height_in)*2.54
print(str(height_cm) + ' cm')
print(type(height_in))
print(type(height_cm))

height in inches: 72
182.88 cm
<class 'str'>
<class 'float'>

# Strings

In [26]:
statement='It is DE course'
statement

'It is DE course'

In [30]:
statement="It is DE course"
statement

'It is DE course'

In [27]:
statement='It's DE course'

SyntaxError: invalid syntax (Temp/ipykernel_3280/3279256405.py, line 1)

In [31]:
statement="It's DE course"
statement

"It's DE course"

In [32]:
statement='It is "DE" course'
statement

'It is "DE" course'

In [36]:
statement='''
It is DE course                         
            
            not for you
            
            you can do'''       # multiline statement
statement

'\nIt is DE course\n            \n            not for you\n            \n            you can do'

In [39]:
Intro= "My Name is Ajay"
Intro[0]

'M'

In [40]:
print(Intro[6])
print(Intro[-1])
print(Intro[-15])
print(Intro[14])

e
y
M
y

In [41]:
print(Intro[2:10])    #  [My Name is Ajay]   so in [2:10] it will print 2 to 9th but not the 10th
print(Intro[3:9])     #  [0123456789.....14]
print(Intro[::-1])
print(Intro[-15:-5])

 Name is
Name i
yajA si emaN yM
My Name is

In [42]:
Intro1=Intro[:]
Intro1

'My Name is Ajay'

In [43]:
Intro1[1:-1]

'y Name is Aja'




#### Formated String

In [49]:
Fname="Ajay"
Lname="Rana"
Intro = Fname + ' [' + Lname + '] is an engineer' 
Intro

'Ajay [Rana] is an engineer'

In [48]:
Intro1=f'{Fname} [{Lname}] is an engineer'  # Use of formatting string function

Intro1

'Ajay [Rana] is an engineer'

In [51]:
len(Intro1)

26





#### upper & lower method

In [52]:
Intro1.upper()

'AJAY [RANA] IS AN ENGINEER'

In [53]:
Intro1.lower()

'ajay [rana] is an engineer'





#### find and replace method

In [57]:
print(Intro1.find('j'))         # find out the value in string which shows the index value

1

In [58]:
print(Intro1.find('an'))

7

In [59]:
print(Intro1.find('ne'))

22

In [60]:
print(Intro1.replace('an','a'))       # used for replaceng with another value

Ajay [Raa] is a engineer

In [61]:
print(Intro1.replace('an','a').replace('g','j'))

Ajay [Raa] is a enjineer





#### in Method(Check Value in Boolean Expression)

In [62]:
Intro1

'Ajay [Rana] is an engineer'

In [63]:
'Ajay' in Intro1    # find out the value in string but show boolean result

True

In [64]:
'ajay' in Intro1

False





#### title method

In [66]:
print(Intro1.title())    # this function capitalizes the first letter of each word in the string.

Ajay [Rana] Is An Engineer